.nav {
    background-image: linear-gradient(to right, rgb(85, 142, 241), darkblue);
    color: white;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.search {
    border: 1px solid black;
}

.display {
    border: 1px solid black;
}

.forecast {
    border: 1px solid black;
}

.searchButton {
    margin-top: 10px;
    border-radius: 5px;
}

.forecastList {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.forecastSection {
    background-color: rgb(255, 187, 0);
    max-width: 250px;
    padding: 10px;
    border-radius: 5px;
}

.forecastItem {
    background-color: aqua;
    max-width: fit-content;
}

